
.rm-margin {
  margin-bottom: 0px !important;
}

.navbar {
    /* background-color: #3b5998; */
    /* border: 1px solid red; */
    padding: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 9px -7px grey;
    z-index: 50;
}

.navitem1 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar {
    display: flex;
    align-items: center; 
    align-content: center;
    background-color: #e9ebee;
    width: 82%;
    height: 40px;
    border-radius: 35px;
    padding-left: 3%;
}

.bar a svg {
    font-size: 17px;
    fill: rgb(110, 106, 106);
    /* height: 30px; */
}

.bar input {
    outline: none;
    border: none;
    /* border: 1px solid red; */
    width: 75%;
    background-color: #e9ebee;
    font-size: 15px;
    margin-left: 5px;
}

.icons1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green */
}

.icon1-items {
    /* border: 1px solid green ; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 5px;
    width: 120px;
}

.icon1-items.active svg{
    fill: #2e81f4;        
}

.icon1-items.active {
    border-bottom: 3px solid #2e81f4; 
}

.icon1-items:hover {
    background-color: #e9ebee;
    border-radius: 7px;
}

.icon1-items i{
    font-size: 30px;
}

.icons2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid green */
}

.dp-icon {
    /* border: 1px solid green; */
    background-color: #e9ebee; 
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dp-image {
    border-radius: 50%;
}

.icon2-item {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
    border-radius: 50%;
    padding: 10px;
}

.svg1 {
    fill: rgb(110, 106, 106);
}

.svg2 {
    font-size: 20px;
}

.content {
    height: 100%;
    background-color: #e9ebee;
}

.content-left {
    margin-top: 12px;
}

.content-left-items {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    height: 45px;
    width: 50%;
}

.content-left-items:hover {
    background-color: #dfe3ee;

}

.dp-icon1 {
    background-color: #e9ebee; 
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.content-middle {
    margin-top: 12px;
    /* margin-left: 12px; */
}

.story-row {
    display: flex;
    align-items: center;
}

.story-card {
    margin: 5px;
    background-color: red;
    border-radius: 10px;
    height: 190px;
    background-image: url('./images/prakhar.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dp-icon3 img{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #2e81f4;
}

.my-story {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    padding: 0px;
}

.my-story-item {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: white;
    /* border: 5px solid green; */
    width: 100%;
    height: 30%;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.content-right {
    margin-top: 12px;
}

.content-right-items {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    height: 45px;
    width: 50%;
}

.content-right-items:hover {
    background-color: #dfe3ee;
}

.content-right-icon4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon4 {
    display: flex;
    justify-content: space-between;
}

.divi1 {
    color: grey;
}

.icon4-item svg {
    fill: rgb(110, 106, 106);
}

.mind-map {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.mind-container {
    /* border: 1px solid red; */
    background-color: white;
    height: 130px;
    border-radius: 10px;
    box-shadow: 2px 4px 9px -7px grey;
}

.mind-row1 {
    /* border: 1px solid red; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.mind-bar {
    display: flex;
    align-items: center;
    background-color: #e9ebee;
    width: 85%;
    height: 40px;
    border-radius: 35px;
    padding-left: 3%;
}

hr {
    display: block;
    height: 1px;
    background-color: #dfe3ee;
    border: 0;
    margin: 0px;
}


.mind-row2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.svg3 {
    font-size: 23px;
}

.svg31 {
    fill: #F35369;
}

.svg32 {
    fill: #00A400;
}

.svg33 {
    fill: #F5C33B;
}

.room-button {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(209, 252, 209);
    border-radius: 20px;
    height: 40px;
    width: 150px;
}

.room-items {
    /* border: 1px solid green; */
    margin-top: 20px;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 65px;
    box-shadow: 2px 4px 9px -7px grey;
}

.post-section {
    margin-top: 12px;
}

.post-main-col {
    border-radius: 10px;
    /* height: 700px; */
    box-shadow: 2px 4px 9px -7px grey;
    background-color: white;
}

.post-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-logo-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-header-item {
    margin-left: 15px;
}

.svg5 {
    fill:rgb(110, 106, 106);
    font-size: 13px;
}

.svg6 {
    fill:rgb(110, 106, 106);
    font-size: 20px;
    margin-right: 18px;
}

.content-image {
    /* border: 2px solid green; */
    height: 300px;
    background-image: url('./images/background.jpeg');
}

.content-like-sec {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.like-comment-share {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    border-end-end-radius: 10px;
}

.like-icon {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    display: block;
    height: 1px;
    background-color: #dfe3ee;
    border: 0;
    margin: 0px;
    width: 95%;
    margin-left: 10px;
}

.sponsored {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

.sponsored-image {
    /* border: 1px solid red; */
}

.sponsored-image img{
    border-radius: 10px;
}

.sponsored-text{
    /* border: 1px solid green; */
}