body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.navbar {
    background-color:#383838;
    margin: 0px;
    padding: 0px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navitem {
    margin: 0px 5px 0px 5px;
    padding: 5px;
    text-decoration: none;
    color: #BBB;
    font-weight: bold;
    font-size: 13px;
}

.active, .navitem:hover {
    color: white;
}

.button {
    font-size: 11px;
    font-weight: bold;
    color: white;
    /* width: 100px; */
    position: absolute;
    top: 57px;
    right: 30px;
    border: 1px solid transparent;
}

.button a {
    background-color: #d14836;
    text-decoration: none;
    color: white;
    height: 70px;
    padding: 7px 16px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.middle-container {
    display: flex;
    height: 77vh;
}

.middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* #item1 {
    flex-grow: 3;
}

#item2 {
    flex-grow: 2;
} */

#item3 {
    /* flex-grow: 1; */
    margin-top: -15px;
}

.input-box input{
    height: 42px;
    border: none;
    width: 480px;
    font-size: 16px;
    outline: none;
}

.input-box input:focus {
    outline: 0; 
    border-color: #4d90fe;
}

.input-box:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}



.boxes {
    margin: 0 4px;
}

.box-button {
    /* margin-top: -10px; */
    margin: 0 4px;
    height: 29px;
    padding: 0 8px;
    color: #444;
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.searchicon {
    display: inline-block; 
    border: 1px solid red;
    align-items: center;
}

.input-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    margin:0 auto;
    margin-bottom: 30px;
    width: 570px;
    border-radius:30px;
    border:1px solid #dcdcdc;
}

.footer {
    position: absolute;
    right: 43px;
    bottom: 10px;
    width: 100%;
    font-size: 13px;
    text-align: right;
}

.footer-item {
    border-top: 1px solid rgb(241, 238, 238);
    padding: 3px;
}

.footer-item a {
    margin: 0 9px;
    color: #666;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .footer {
        width: 200%;
    }
}

@media screen and (max-width: 604px) {
    .input-box input {
        width: 90vh;
    }
    .input-box {
        width: 90vh;
    }
}

@media screen and (max-width: 488px) {
    .input-box input {
        width: 75vh;
    }

    .input-box {
        width: 75vh;
    }
}